<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <a href="/dashboard/edit/{{post.id}}" >{{post.title}}</a>
      </div>
      <div class="meta">
        Created on{{format_date post.createdAt}}
      </div>
    </article>
  </li>
  {{/each}}
</ol>

<a href="/dashboard/new"><button>Add New Post</button></a>