<a href="/dashboard/new"><button>Create a new post</button></a>
{{!-- create a button for create post page --}}


  {{!-- <h2>Create New Post</h2> --}}


{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
     <h2>{{post.title}}</h2>
     <p>created on {{format_date createdAt}}</p>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}





