<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <h2><a href='/post/{{post.id}}' >{{post.title}}</a></h2>
      </div>
      <div class="meta">
        Created by {{post.user.username}} on {{format_date post.createdAt}}
      </div>
    </article>
  </li>
  {{/each}}
</ol>

