<form class="login-form">
  <div>
    <label for="username-login">email:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" id="login-button">login</button> 
  </div>
</form>
{{!-- make sure that id matches event listener in login.js --}}
<div>
    <h1>Login</h1>
    <input type="text" id="login-username"/>
    <input type="password"  id="login-password">
    <button id="login-button">login</button>
</div>

<script src="/js/login.js"></script>