<form id="login-form">
  <div>
    <label for="username-login">username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" id="login-button">login</button> 
  </div>
</form>
{{!-- make sure that id matches event listener in login.js --}}


<script src="/js/login.js"></script>