
<form id="new-post-form">
  <div>
    <label for="new-post-form">Post Title:</label>
    <input type="text" id="new-post-form" />
  </div>
  <div>
    <label for="new-post-url">Link</label>
    <input type="text" id="new-post-url" />
  </div>
  <div>
    <button type="submit" id="new-post-button">Add Post</button>
  </div>
</form>







<script src="/public/js/add-post.js"></script>
